<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
</head>
<body>
    <form action="{{ url_for('preguntas') }}" method="post">
        <p>Cual es la suma entre 1 + 1:</p> <br>
        <input type="checkbox" name="respuesta1" value="3"> 3 <br>
        <input type="checkbox" name="respuesta1" value="2"> 2 <br>
        <input type="checkbox" name="respuesta1" value="5"> 5 <br> 
        <br>
        <p>Cual es la divison entre 10 / 2:</p><br>
        <input type="checkbox" name="respuesta2" value="1">1 <br>
        <input type="checkbox" name="respuesta2" value="6">6 <br>
        <input type="checkbox" name="respuesta2" value="5">5 <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>